section.partners   
    h2.title.partners__title  Партнёры  
    ul.partners__list
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/bmpcompany.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/tetra.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/sibavia.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/oneair.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/bingair.jpg", alt="bingair")
        li.partners__item
            a.partners__link(href="#")
                img(src="/images/partners/ural.jpg", alt="bingair")
        
